<template>
<div class="dialog">
  <h1>{{ contact ? contact.name : 'Select a contact'}}</h1>
  <MessagesHistory :messages="messages" :contact="contact"></MessagesHistory>
  <MessageCreate @send="sendMessage"></MessageCreate>


</div>
</template>

<script>
  import MessagesHistory from './MessagesHistory'
  import MessageCreate from './MessageCreate'
  export default {
    name: 'Dialog',
    props: {
      contact:{
        type: Object,
        default: null
      },
      messages: {
        type: Array,
        default: []
      }
    },
    methods: {
      sendMessage(text){
       if(!this.contact){
         return
       }

       axios.post('/api/conversation/send',{
         contact_id: this.contact.id,
         text: text
       }).then((response) => {
         this.$emit('new', response.data)
       })
      }
    },
    components: {
      MessagesHistory,
      MessageCreate,
    },

  };
</script>

<style lang="scss" scoped>
  .dialog {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  h1 {
    font-size: 20px;
    padding: 10px;
    margin: 0;
  }
  }
</style>