<template>
  <div class="area">
    <textarea v-model="message" @keydown.enter.prevent="send"></textarea>
  </div>

</template>

<script>
  export default {
    name: 'MessageCreate',
    data(){
      return {
        message : ''
      }
    },
    methods: {
      send(){
        if(this.message == ''){
          return
        }
        this.$emit('send', this.message)
        this.message = '';
      }
    }
  };
</script>

<style scoped>
  .area textarea {
    width: 99%;
    margin: 5px;
    resize: none;
    border-radius: 3px;
    border: 5px solid silver;
    padding: 6px;
  }
</style>