<template>
<div class="history" ref="history">
  <ul v-if="contact">
    <li v-for="message in messages" :class="`message${message.to == contact.id ? ' sent' : ' received'}`" :key="message.id">
      <div class="text">
        {{ message.text }}
      </div>
    </li>
  </ul>
</div>
</template>

<script>
  export default {
    name: 'MessagesHistory',
    props: {
      contact: {
        type: Object
      },
      messages: {
        type: Array,
        required: true
      }
    },
    methods : {
        scrollToBottom()
        {
          setTimeout(() => {
            this.$refs.history.scrollTop = this.$refs.history.scrollHeight - this.$refs.history.clientHeight
          }, 50)

        }
    },
    watch: {
      contact(){
        this.scrollToBottom()
      },
      messages(){
        this.scrollToBottom()
      }
    }
  };
</script>

<style lang="scss" scoped>
  .history {
    background: #f0f0f0;
    height: 99%;
    max-height: 550px;
    overflow: scroll;
    border-radius: 3px;
    border: 5px solid silver;
  ul {
    list-style-type: none;
    padding: 5px;
  li {
  &.message {
     margin: 10px 0;
     width: 100%;
  .text {
    max-width: 200px;
    border-radius: 5px;
    padding: 12px;
    display: inline-block;
  }
  &.received {
     text-align: right;
  .text {
    background: #b2b2b2;
  }
  }
  &.sent {
     text-align: left;
  .text {
    background: #81c4f9;
  }
  }
  }
  }
  }
  }
</style>