<template>
    <button :type="type" class="btn btn-sm" :class="bootstrapClass">{{text}}</button>
</template>

<script>
  export default {
    name: 'ButtonComponent',
    props:{
      text: {
        type: String,
        default: 'Save'
      },
      bootstrapClass: {
        type: String,
        default: 'btn-default'
      },
      type: {
        type: String,
        default: 'submit'
      }
    }
  };
</script>
<style scoped>

</style>
