<template>
    <div class="checkbox">
        <label>
            <input
                v-model="val"
                type="checkbox"
                @change="change"
            >
            {{label}}
        </label>
    </div>
</template>

<script>
  export default {
    name: 'CheckboxInput',
    props: {
      label: {
        default: 'Check',
        type: String,
      },
      checked: {
        default: 0
      }
    },
    data() {
      return {
        val: 0
      }
    },
    methods: {
      change(){
        this.$emit('toggle', this.val)
      }
    },
    mounted(){
      if(this.checked){
        this.val = 1
      }
    }
  };
</script>

<style scoped>

</style>
