<template>
    <div class="form-group">
        <label class="col-sm-3 control-label col-sm-3">{{label}}</label>
        <div class="col-sm-6">
            <select v-model="selectedOption" ref="select" class="form-control" @change="select">
                <option :value="option.value" v-for="option in options">{{option.name}}</option>
            </select>
        </div>
    </div>
</template>

<script>
  export default {
    name: 'FormSelect',
    props: {
      options: Array,
      label: String,
      selected: {
        default: 0,
      },
    },
    computed: {
      selectedOption: {
        get() {
          return this.selected;
        },
        set(val) {

        },
      },
    },

    methods: {
      select() {
        this.$emit('selected', this.$refs.select.value);
      },
    },
    mounted() {
      this.selectedOption = this.selected;
    },
  };
</script>

<style scoped>

</style>
