<template>
  <div class="form-group">
    <label class="col-sm-3 control-label">{{label}}</label>
    <div class="col-sm-6">
      <textarea v-model="inputVal" class="form-control" :rows="rows"></textarea>
    </div>
  </div>

</template>

<script>
  export default {
    name: 'TextArea',
    props: ['value', 'type', 'label', 'rows'],
    computed: {
      inputVal: {
        get() {
          return this.value;
        },
        set(val) {
          this.$emit('input', val);
        }
      }
    }

  };
</script>

<style scoped>

</style>
