<template>
    <div class="avatar">
      <div class="text-center">
        <img :src="avatar ? avatar : '/images/user.png'">
      </div>
      <div class="fileInput text-center">
        <input @change="fileChange" type="file" ref="inputFile" class="hidden">
        <button ref="chooseBtn"@click="chooseFile()">Choose</button>
      </div>
    </div>
</template>

<script>
  export default {
    name: 'ProfileImage',
    data(){
      return {
        selectedFile: null
      }
    },
    props: ['avatar'],
    methods: {
      fileChange(e){
        this.selectedFile = e.target.files[0]
        let name = this.selectedFile.name.length > 20 ? this.selectedFile.name.substring(0, 20) + '...' : this.selectedFile.name
        this.$refs.chooseBtn.innerHTML = name
        this.$emit('acceptFile', this.selectedFile)
      },
      chooseFile: function() {
        this.$refs.inputFile.click()
      },
      clearBtnFromName(){
        this.$refs.chooseBtn.innerHTML = "Choose"
      }
    },

  };
</script>

<style scoped>
  .avatar {
    margin: 60px;
  }

  .fileInput {
    margin-top: 40px;
  }

</style>