<template>
  <div class="input-group">
    <input @keyup.enter="searchIt" type="text" v-model="search" class="input-sm form-control" placeholder="Search">
    <span class="input-group-btn">
            <button @click="searchIt" class="btn btn-sm btn-default" type="button">Go!</button>
          </span>
  </div>
</template>

<script>
  export default {
    name: 'Search',
    data(){
      return {
        search: ''
      }
    },
    props: ['where'],
    methods: {
      searchIt(){
        axios({
          url: this.where,
          method: "GET",
          params:{search: this.search}
        }).then(response => {
         this.$emit('fetchItems', response.data)
        });
      }
    }
  };
</script>

<style scoped>

</style>
