<template>
    <div class="select" :style="style">

        <p :style="style" class="title input-sm form-control w-sm inline v-middle"
        @click="isOptsVisible = !isOptsVisible">{{selected}}</p>
        <div v-if="isOptsVisible" class="options">
            <p :style="style"
                class="input-sm form-control w-sm inline v-middle"
            v-for="option in options"
            :key="option.value"
            @click="select(option)"
            >
            {{option.name}}
            </p>

        </div>
    </div>
</template>

<script>
  export default {
    name: 'Select',
    props: {
      options:{
        type:Array,
        default: []
      },
      selected : {
        type: String,
        default: ''
      },
      width : {
        type: Number,
        default: 100
      },
    },
    computed: {
      style () {
        return 'width: ' + this.width + 'px';
      }
    },
    data(){
      return {
        isOptsVisible : false
      }
    },
    methods: {
      select(option){
        this.$emit('select', option)
        this.hideOptions()
      },
      hideOptions(){
        this.isOptsVisible = false
      }
    },
    mounted(){
        document.addEventListener('click', this.hideOptions.bind(this), true)
    },
    beforeDestroy(){
      document.removeEventListener('click', this.hideOptions)
    }
  };
</script>

<style scoped>
    .select {
        position:relative;
        width: 100px;
        cursor: pointer
    }
    .select p {
        margin:0
    }
    .title {
        border: 1px solid grey;
    }
    .options {
        position:absolute;
        top: 30px;
        right: 0;
        width: 100%;
    }
    .options p:hover{
        background-color: #9d9f9e;
    }

</style>
