<template>
  <div class="form-group">
    <label class="col-sm-3 control-label">{{label}}</label>
    <div class="col-sm-6">
      <input
          v-model="inputVal"
          :type="type"
          :min="type === 'number' ? 1 : false"
          class="form-control">
    </div>
  </div>

</template>

<script>
  export default {
    name: 'TextInput',
    props: {
      value: {
      },
      type: {
        type:String
      },
      label: {
        type:String
      }
    },
    computed: {
      inputVal: {
        get() {
          return this.value;
        },
        set(val) {
          this.$emit('input', val);
        }
      }
    }

  };
</script>

<style scoped>

</style>
