.cancel-button-class, .confirm-button-class{
    text-align: center;
    font-size: 12px!important;
    height: 28px!important;
    padding: 5px;
    width: 91px;
    text-transform: uppercase;
    margin-bottom: 10px!important;
}

.content-class {
    color: darkgrey;
    margin-top: 20px!important
}

.title-class{
    font-size: 20px!important;
    margin-top: 20px!important
}
