<template>
  <li>
    <input @keydown.enter.prevent="searchIt"
           v-model="search"
           type="text"
           class="form-control global-search"
           placeholder=" Search"
    >
      <a ref="showResultsBtn" data-toggle="dropdown" class="dropdown-toggle hidden" href="#" aria-expanded="true">
          <i class="fa fa-tasks"></i>
          <span class="badge bg-success">8</span>
      </a>
      <ul class="dropdown-menu extended tasks-bar">
          <li>
              <p v-if="found.count" class="">You have {{found.count}} results</p>
              <p v-else class="">No results found</p>
          </li>
          <li v-for="(item, index) in found.result" :key="index">
              <span>{{index}}</span>
              <a v-for="subItem in item" :href="subItem.url">
                  <div class="task-info clearfix">
                      <div class="desc pull-left">
                          <p>{{subItem.title}}</p>
                      </div>
                  </div>
              </a>
          </li>
      </ul>
  </li>
</template>

<script>
  export default {
    name: 'GlobalSearch',
    data(){
      return {
        search: '',
        found: {
          count: 0,
          result: []
        },
        showList: false
      }
    },
    methods: {
      searchIt(){
        if(this.search.length){
          axios.get('/api/search?query='+this.search).then(
            response => {
              this.found.count = response.data.count
              this.found.result = response.data.result
              this.$refs.showResultsBtn.click()
            }
          )
        }
      }
    },
  };
</script>

<style scoped>
</style>
