<template>
    <li :class="{ 'sub-menu' : children}">
      <router-link
        :to="route"
        >
        <i :class="icon"></i>
        {{title}}
      </router-link>
      <ul class="sub">
        <MenuItem
          :title="child.title"
          :route="child.route"
          v-for="(child, index) in children"
          :key="index"
        ></MenuItem>
      </ul>
    </li>

</template>

<script>
  export default {
    name: 'MenuItem',
    props: {
      title: {
        type: String,
        required: true
      },
      icon: {
        type: String,
        default: ''
      },
      route: {
        default: ''
      },
      children: {
        default: null
      },
    },
  };
</script>

<style scoped>

</style>