<template>
    <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <i class="fa fa-calendar"></i>
            <span v-if="count" class="badge bg-success">{{count}}</span>
        </a>
        <ul class="dropdown-menu extended tasks-bar">
            <li>
                <p class="">You have {{count}} pending events this week</p>
            </li>
            <li v-for="(item, index) in events" :key="index">
                <a href="#">
                    <div class="task-info clearfix">
                        <div class="desc pull-left">
                            <h5>{{item.title}}</h5>
                            <p>{{ nearestDate(item.start) }} - {{ nearestDate(item.end)  }}</p>
                        </div>
                        <span class="notification-pie-chart pull-right">
                            <span class="percent"></span>
                            </span>
                    </div>
                </a>
            </li>
        </ul>
    </li>
</template>

<script>
  import moment from 'moment';
  import timePass from '../../filters/timePass.filter'
  export default {
    name: 'NearestEvents',
    computed: {
      events: {
        get () {
          return this.$store.getters.getNextWeekEvents
        },
        set (value) {
        }
      },
      count(){
        return this.events.length
      },
    },
    methods: {
      nearestDate(date){
        return moment(date).calendar()
      }
    },
    mounted(){
      this.$store.dispatch('getNextWeekEvents');
    },
    filters: {
      timePass
    }
  };
</script>

<style scoped>

</style>
