<template>
  <!-- user login dropdown start-->
  <li class="dropdown">
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
      <img alt="" src="images/2.png">
      <span class="username">{{userName}}</span>
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu extended logout">
      <li>
        <router-link to="/profile"><i class=" fa fa-suitcase"></i>Profile</router-link>
      </li>
      <li><a @click.prevent="$emit('handleLogout')"><i class="fa fa-key"></i> Log Out</a></li>
    </ul>
  </li>
  <!-- user login dropdown end -->
</template>

<script>
  export default {
    name: 'ProfileMenu',
    computed: {
      userName() {
        return (this.$store.getters.getUser !== null) ? this.$store.getters.getUser.name : '';
      },
    },
  };
</script>

<style scoped>

</style>
