<template>
  <li id="header_inbox_bar" class="dropdown">
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
      <i class="fa fa-envelope-o"></i>
      <span class="badge bg-important">{{count ? count : ''}}</span>
    </a>
    <ul class="dropdown-menu extended inbox">
      <li>
        <p class="red">You have {{ count }} unread messages</p>
      </li>
      <li v-for="message in unread" :key="message.id">
        <router-link :to="{ name: 'Chat', params: {selected: JSON.stringify(message.from_user) }}">
          <span class="photo"><img alt="avatar" src="images/3.png"></span>
          <span class="subject">
                                <span class="from">{{message.from_user.name}}</span>
                                <span class="time">{{message.created_at | timePass}}</span>
                                </span>
          <span class="message">
                                    {{message.text}}
                                </span>
        </router-link>
      </li>

    </ul>
  </li>
</template>

<script>
import timePass from '../../filters/timePass.filter'
  export default {
    name: 'UnreadMessages',
    computed: {
      unread: {
        get () {
          return this.$store.getters.getUnread
        },
        set (value) {
          this.$store.dispatch('getUnread', value)
        }
      },
      count(){
        return this.unread.length
      }

    },
    mounted(){
      Echo.private(`chat.${this.$store.getters.getUser.id}`)
      .listen('NewMessage', (e) => {
        this.$store.dispatch('getUnread');
      });
    },
    filters: {
      timePass
    },

  };
</script>

<style scoped>

</style>
