<template>
  <component :is="layout">
    <router-view></router-view>
  </component>
</template>

<script>
  import MainLayout from './js/layouts/MainLayout';
  import AdminLayout from './js/layouts/AdminLayout';
  import LoginLayout from './js/layouts/LoginLayout';


  export default {
    computed: {
      layout(){
        return (this.$route.meta.layout || 'login') + '-layout'
      }
    },
    name: 'App',
    components: {
      MainLayout,
      AdminLayout,
      LoginLayout
    },
    created: function () {

      this.$store.dispatch('initAuthCheck');

    }

  };
</script>

<style scoped>
</style>