<template>
    <div>
    <FullCalendar
        defaultView="dayGridMonth"
        :plugins="calendarPlugins"
        :events="events"
        :header="{
            left: 'title',
            center: 'dayGridMonth, timeGridWeek, timeGridDay, listWeek',
            right: 'prev today next',
        }"
        :selectable="true"
        :editable="true"
        @select="handleSelect"
        @eventClick="handleEventClick"
        @eventDrop="handleEventDrop"
    />
    <modals-container
        @addEvent="addEvent"
        @updateEvent="updateEvent"
        @deleteOne="deleteEvent"
        @closeModalWindow="closeModal"
    ></modals-container>

    </div>
</template>

<script>
  import FullCalendar from '@fullcalendar/vue'
  import dayGridPlugin from '@fullcalendar/daygrid'
  import timeGridPlugin from '@fullcalendar/timegrid'
  import interactionPlugin from '@fullcalendar/interaction';
  import listPlugin from '@fullcalendar/list';
  import EventModal from '../components/EventModal'
  import moment from 'moment/moment';

  export default {
    name: 'Calendar',
    components: {
      FullCalendar, EventModal
    },
    data() {
      return {
        calendarPlugins: [ dayGridPlugin, timeGridPlugin, interactionPlugin, listPlugin ],
        event: null
      }
    },
    computed: {
     events: {
       get () {
         return this.$store.getters.getEvents
       },
       set (value) {
        }
       }
    },
    methods: {
      handleSelect(arg){
        this.event = arg;
        this.$modal.show(EventModal, {event: this.event}, {height: "auto"})
      },
      handleEventClick(arg){
        this.fetchEvent(arg).then((response) => {
          this.event = response.data.data
          this.$modal.show(EventModal, {event: this.event}, {height: "auto"});
        })

      },
      handleEventDrop(arg){
        this.fetchEvent(arg).then((response) => {
          this.event = response.data.data
          this.$store.dispatch('updateEvent',
            {
                ...this.event,
              start: moment(arg.event.start).format(),
              end: moment(arg.event.end).format()
            }
          ).then(response => {
            this.event = null;
            successToast()
          }).catch((errors) => {
            errorToast(errors)
          })
        })

      },
      fetchEvent(arg){
        let id = arg.event.id;
        return axios.get('/api/events/'+id)
      },
      addEvent(form){
        this.$store.dispatch('addEvent', {
          ...form,
          start: moment(this.event.start).format(),
          end: moment(this.event.end).format(),
          all_day: this.event.allDay,
        }).then((response)=> {
          this.$modal.hideAll()
          this.event = null;
          successToast()
        }).catch((errors) => {
          errorToast(errors)
        })

      },
      updateEvent(form){
        this.$store.dispatch('updateEvent', {
          ...form,
          start: this.event.start,
          end: this.event.end,
          all_day: this.event.all_day,
        }).then(response => {
          this.$modal.hideAll()
          this.event = null;
        }).catch((errors) => {
          errorToast(errors)
        })
      },
      deleteEvent(id){
        sweetDelete("Are you sure?").then(res => {
          if (res.value) {
            return axios.delete('/api/events/' + id).then(res => {
              this.closeModal();
              this.$store.dispatch('getEvents')
              successToast();
            }).catch(errors => {
              errorToast(errors);
            });
          }
        });
      },
      closeModal(){
        this.$modal.hideAll()
      }
    },
    async mounted() {
      if(!this.$store.getters.getEvents.length){
        await this.$store.dispatch('getEvents');
      }
    },
  };
</script>

<style scoped  lang='scss'>
    @import '~@fullcalendar/core/main.css';
    @import '~@fullcalendar/daygrid/main.css';
    @import '~@fullcalendar/timegrid/main.css';
    @import '~@fullcalendar/list/main.css';
</style>
