<template>
    <div class="small">
        <line-chart v-if="servercollection" :chart-data="servercollection" :options="options"></line-chart>
        <div class="text-center button-block">
        <button-component
            v-if="period!==1"
            @click.native="period = 1"
            :text="'Last week'"
        ></button-component>
        <button-component
            v-if="period!== 2"
            :text="'Last 3 months'"
            @click.native="period = 2"
        ></button-component>
        <button-component
            v-if="period!== 3"
            :text="'Last Year'"
            @click.native="period = 3"
        ></button-component>
        </div>

    </div>
</template>

<script>

    const LAST_WEEK = 1
    const LAST_3_MONTHS = 2
    const LAST_YEAR = 3
  import LineChart from './../helpers/LineChart.js'
  import ButtonComponent from '../components/Form/Button';
  export default {
    name: 'Charts',
    components: {
      ButtonComponent,
      LineChart
    },

    data(){
      return {
        servercollection: null,
        period : LAST_3_MONTHS,
        options: {
          legend: {
            labels: {
              fontColor: "white",
              fontSize: 18
            }
          },
          scales: {
            yAxes: [{
              ticks: {
                fontColor: "white",
                fontSize: 18,
                stepSize: 1,
                beginAtZero: true
              }
            }],
            xAxes: [{
              ticks: {
                fontColor: "white",
                fontSize: 14,
                stepSize: 1,
                beginAtZero: true
              }
            }]
          }
        }
      }
    },

    watch:{
        period: function (val) {
          this.getChartData()

        },
    },

    methods: {
      getChartData(){

        axios.get('/api/users-charts-data?period='+ this.period).then((response) => {
          this.servercollection =  response.data.data
        });
      }
    },

    mounted () {
        this.getChartData()
    }
  }
</script>

<style>
    .small {
        max-width: 600px;
        margin:  100px auto;
    }
    .button-block {
        margin-top: 30px
    }
</style>
