<template>
  <div class="chat">
    <Dialog :contact="selectedContact" :messages="messages"  @new="pushNewMessage"></Dialog>
    <list :contacts="contacts" @selected="startDialog"></list>
  </div>

</template>

<script>
  import { mapGetters } from 'vuex';
  import Dialog from '../components/Chat/Dialog'
  import List from '../components/Chat/List'
  export default {
    name: 'Chat',
    data(){
      return {
        contact: null,

        selectedContact:  null,
      }
    },
    computed: {
      contacts : {
        get () {
          return this.$store.getters.getContacts
        },
        set (value) {
        }
      },
      messages : {
        get(){
          return this.$store.getters.getMessages;
        },
        set(value){

        }
      }
    },
    components: {
      Dialog,
      List
    },
    async mounted() {

      if(!this.$store.getters.getContacts.length){
        await this.$store.dispatch('getContacts');
      }

      Echo.private(`chat.${this.$store.getters.getUser.id}`)
      .listen('NewMessage', (e) => {
        this.income(e.message);
      });

    },
    methods: {
      startDialog(contact){
        this.updateUnreadCount(contact, true);
        this.$store.dispatch('getConversation', contact.id)
        this.messages = this.$store.getters.getMessages;
        this.selectedContact = contact;
        this.$store.dispatch('getUnread');

      },
      pushNewMessage(message){

        this.messages.push(message);

      },
      income(message){
        if(this.selectedContact && message.from_id == this.selectedContact.id){
          this.messages.push(message);
          return;
        }

        this.updateUnreadCount(message.from_user, false);
      },

      updateUnreadCount(contact, reset) {
        this.contacts = this.contacts.map((item) => {
          if (item.id !== contact.id) {
            return item;
          }
          if (reset)
            item.unread = 0;
          else
            item.unread += 1;
          return item;
        })
      }
    }
  };
</script>

<style scoped>
  .chat {
    display: flex;

  }
</style>