<template>
  <div class="log-w3">
    <div class="w3layouts-main">
      <form @submit.prevent="forget" >
        <input v-model="email" type="email" class="ggg" name="Email" placeholder="E-MAIL">
        <small v-if="$v.email.$dirty && !$v.email.required" class="helper-text invalid">Email required</small>
        <small v-else-if="$v.email.$dirty && !$v.email.email" class="helper-text invalid">Email incorrect</small>
        <h6><router-link to="/login">Back to login</router-link></h6>
        <div class="clearfix"></div>
        <input type="submit" value="OK" name="login">
      </form>
    </div>
  </div>
</template>

<script>
  import {email, required} from 'vuelidate/lib/validators'

  export default {
    name: 'ForgotPassword',
    validations: {
      email: {
        email, required
      }
    },
    data() {
      return {
        email: '',
      }
    },

    methods: {
      async forget(){

        this.validate();

        try {

        await this.$store.dispatch('forget', {email: this.email}).then(response => {
          sweetAlert('Your request accepted', 'Check your email for further instructions')
        })

        } catch(e){

        }


      }
    },


  };
</script>

<style scoped>

</style>
