<template>
    <div v-html="privatApiForm">{{privatApiForm}}</div>
</template>

<script>
  export default {
    name: 'LiqPay',
    mounted(){
      this.getPrivatApiData()
    },
    data(){
      return {
        privatApiForm: null
      }
    },
    methods : {
      getPrivatApiData(){
        axios.post('/api/liqpay-data', {
          amount: 1,
          currency: 'UAH',
          product_id: Math.random().toString(36).substring(7)
        }).then(response => {
          this.privatApiForm = response.data.data;
        })
      },
    }
  };
</script>

<style scoped>

</style>
