<template>
  <!-- /.login-logo -->
  <div class="log-w3">
    <div class="w3layouts-main">
      <h2>Sign In Now</h2>
      <form @submit.prevent="login" >
        <input v-model="email" type="email" class="ggg" name="Email" placeholder="E-MAIL">
        <small v-if="$v.email.$dirty && !$v.email.required" class="helper-text invalid">Email required</small>
        <small v-else-if="$v.email.$dirty && !$v.email.email" class="helper-text invalid">Email incorrect</small>
        <input v-model="password" type="password" class="ggg" name="Password" placeholder="PASSWORD">
        <small v-if="$v.password.$dirty && !$v.password.required" class="helper-text invalid">Password required</small>
        <small v-else-if="$v.password.$dirty && !$v.password.email" class="helper-text invalid">Password should be more than {{ $v.password.$params.minLength.min }} symbols. Now it is {{password.length}}</small>
        <div v-if="!isValid" class="alert alert-danger">Incorect credentials</div>
          <div>
              <google-re-captcha-v3
                  v-model="gRecaptchaResponse"
                  ref="captcha"
                  :site-key="captchaKey"
                  id="login_verify_id"
                  action="login_verify"
              ></google-re-captcha-v3>
          </div>

        <span><input v-model="remember_me" type="checkbox" />Remember Me</span>
        <h6><router-link to="/forgot">Forgot Password?</router-link></h6>
        <div class="clearfix"></div>
          <input type="submit" value="login" name="login">
      </form>

      <div class="social-auth-links text-center">
        <p>- OR -</p>
        <a @click="loginSocial('facebook')" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
          Facebook</a>
        <a @click="loginSocial('github')" class="btn btn-block btn-social btn-github btn-flat"><i class="fa fa-github"></i> Sign in using
          Github</a>
          <a @click="loginSocial('google')" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google"></i> Sign in using
              Google</a>
      </div>

      <p>Don't Have an Account ?<router-link to="/register">Create an account</router-link></p>
    </div>
  </div>
</template>

<script>
  import {email, required, minLength} from 'vuelidate/lib/validators'
  import GoogleReCaptchaV3 from '../components/googlerecaptchav3/GoogleReCaptchaV3';

  export default {
    name: 'Login',
    components: {
      GoogleReCaptchaV3
    },
    validations: {
      email: {
        email, required
      },
      password: {
        required, minLength: minLength(6)
      }
    },
    data(){
      return {
        email: '',
        password: '',
        isValid: true,
        remember_me: false,
        gRecaptchaResponse: null,
        captchaKey: process.env.MIX_RECAPTCHA_V3_SITE_KEY,
      }
    },

    methods: {
      async login(){

        this.validate();
        try {
          this.isValid = true;
          await this.$store.dispatch('login', {email: this.email, password: this.password, remember_me: this.remember_me, re_captcha: this.gRecaptchaResponse,
           }).then(response => {
            this.$refs.captcha.execute();
            this.$router.push('/')
          }).catch(
            error => {
              this.$refs.captcha.execute(); // every time you submit, the reCAPTCHA token needs to be refreshed
            });

        } catch(e){
          this.isValid = false;

        }
      },
      loginSocial(provider){
        this.$store.dispatch('loginSocial', {provider: provider})
      }
    },


  };
</script>

<style scoped>
  .ggg {
    padding: 8px 0 8px 8px
  }
  input[type="submit"]{
    padding: 5px 10px
  }

</style>
