<template>
<div>
  <h1>Login with Github, please, wait!</h1>
</div>
</template>

<script>
  export default {
    name: 'LoginGithub',
    methods: {
      login(){
        this.$store.dispatch('loginGithubCallback', {code: this.$route.query.code})


      }
    },
    created(){
      this.login()
    }
  };
</script>

<style scoped>

</style>