<template>
  <div>
    <h1>Login with Facebook, please, wait!</h1>
  </div>
</template>

<script>
  export default {
    name: 'LoginFacebook',
    methods: {
      login(){
        this.$store.dispatch('loginSocialCallback', {code: this.$route.query.code, provider: 'facebook'})


      }
    },
    created(){
      this.login()
    }
  };
</script>

<style scoped>

</style>