<template>
  <div class="login">
    <div class="w3layouts-main">
      <h1>Trying to login, please, wait!</h1>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'LoginSocial',
    props: [
      'provider',
    ],
    methods: {
      login(){
        console.log(this.$props.provider)
        this.$store.dispatch('loginSocialCallback', {code: this.$route.query.code, provider: this.$props.provider})

      }
    },
    created(){
      this.login()
    }
  };
</script>

<style scoped>

</style>