<template>
  <div class="row">
    <div class="col-lg-12">
      <section class="panel">
        <header class="panel-heading">
          Profile
        </header>
        <div class="panel-body">
          <update-user></update-user>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import UpdateUser  from '../components/UpdateUser';
  export default {
    name: 'Profile',
    components: {
      UpdateUser
    }

  };
</script>

<style scoped>

</style>
