<template>
  <!-- /.login-logo -->
  <div class="log-w3">
    <div class="w3layouts-main">
      <h2>Register Now</h2>
      <form @submit.prevent="register">
        <input v-model="firstName" type="text" class="ggg" name="FirstName" placeholder="FirstName">
        <small v-if="$v.firstName.$dirty && !$v.firstName.required" class="helper-text invalid">FistName required</small>
        <input v-model="lastName" type="text" class="ggg" name="lastName" placeholder="LastName">
        <small v-if="$v.lastName.$dirty && !$v.lastName.required" class="helper-text invalid">LastName required</small>
        <input v-model="email" type="email" class="ggg" name="Email" placeholder="E-MAIL">
        <small v-if="$v.email.$dirty && !$v.email.required" class="helper-text invalid">Email required</small>
        <small v-else-if="$v.email.$dirty && !$v.email.email" class="helper-text invalid">Email incorrect</small>
        <input v-model="password" type="password" class="ggg" name="Password" placeholder="PASSWORD">
        <small v-if="$v.password.$dirty && !$v.password.required" class="helper-text invalid">Password required</small>
        <input v-model="password_confirmation" type="password" class="ggg" name="Confirm_Password" placeholder="Confirm PASSWORD">
        <small v-if="$v.password_confirmation.$dirty && !$v.password_confirmation.required" class="helper-text invalid">Confirmation required</small>
        <h4><input v-model="agree" type="checkbox" />I agree to the Terms of Service and Privacy Policy</h4>
        <div class="clearfix"></div>
        <br>
        <validation-errors :errors="validationErrors" v-if="validationErrors"></validation-errors>
        <input type="submit" value="submit" name="register">
      </form>

      <p>Already Registered.<router-link to="/login">Login</router-link></p>
    </div>
  </div>
</template>

<script>
  import {email, required, minLength} from 'vuelidate/lib/validators'
  export default {
    name: 'Register',

    data(){
      return {
        firstName: '',
        lastName: '',
        email: '',
        password: '',
        password_confirmation: '',
        validationErrors: '',
        agree: false
      }
    },
    validations: {
      email: {
        email, required
      },
      firstName: {
        required
      },
      lastName: {
         required
      },
      password_confirmation: {
        required
      },
      password: {
        required, minLength: minLength(6)
      },
      agree: {
        required
      }
    },
    methods: {
      async register(){

       this.validate();

        const formData = {
          email: this.email,
          password: this.password,
          first_name: this.firstName,
          last_name: this.lastName,
          password_confirmation : this.password_confirmation
        }

        if(this.agree){
          try {
            await this.$store.dispatch('register', {
              email: this.email,
              password: this.password,
              first_name: this.firstName,
              last_name: this.lastName,
              password_confirmation : this.password_confirmation
            }).then(response => this.$router.push('/')).catch()
            ;
          } catch(e){
            this.showServerErrors(e);
          }
        } else {
          successToast('You should accept conditions')
        }
      }
    }
  };
</script>

<style scoped>
  .ggg {
    padding: 8px 0 8px 8px
  }
  input[type="submit"]{
    padding: 5px 10px
  }

</style>
