<template>
  <div class="log-w3">
    <div class="w3layouts-main">
      <h2>Enter your new password</h2>
      <form @submit.prevent="reset" >
        <input type="hidden" name="token" v-model="token">
        <input type="hidden" name="email" v-model="email">
        <input
          class="ggg"
          type="password"
          placeholder="New password"
          name="password"
          v-model="password"
          ref="password"
        >
        <input
          class="ggg"
          type="password"
          placeholder="Confirmation"
          name="password_confirmation"
          v-model="password_confirmation"
        >
        <button type="submit" value="Sign In" name="login">OK</button>
      </form>
    </div>
  </div>
</template>

<script>
  import {required} from 'vuelidate/lib/validators'
  export default {
    name: 'ResetPassword',
    validations: {
      email: {
        required
      },
      token: {
        required
      },
      password: {
        required
      },
      password_confirmation: {
        required
      }
    },
    data: function () {
      return {
        token: this.$route.query.token || null,
        email: this.$route.query.email || null,
        password: null,
        password_confirmation: null
      }
    },
    created() {

      if(!this.token) this.$router.push('/')
      axios.post('/api/password/check-token/', {token: this.token}).then(
        response => {
          if(response.data.message && response.data.message === 'Token invalid'){
            Swal.fire({
              icon: 'error',
              title: 'Oops...',
              text: 'Token is invalid',
            })
            this.$router.push('/')
          }
        }
      ).catch()
    },
    methods: {
      async reset(){
        await this.$store.dispatch('reset', {
            token: this.token,
            email: this.email,
            password: this.password,
            password_confirmation: this.password_confirmation
        }).then(response => {
          successToast('Your password was changed!')
          this.$router.push('/login')
        })
      }
    }
  };
</script>

<style scoped>

</style>
