<template>
    <div class="row">
        <div class="col-md-6">
            <section class="panel">
                <header class="panel-heading">
                    Stripe Payment
                </header>
                <div class="panel-body">
                    <div class="row">

                        <div class="col-md-12 text-center col-md-offset-1">
                            <form class="form-horizontal bucket-form" @submit.prevent="submitForm">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Card Number</label>
                                    <div class="col-sm-6">
                                        <input
                                            v-model="cardNumber"
                                            placeholder="NUMBER"
                                            type="text"
                                            class="form-control">
                                    </div>
                                </div>

                                <div class="form-group text-center">
                                    <div class='col-xs-4 form-group cvc required'>
                                        <label class='control-label'>Card CVV</label>
                                        <input  class='form-control'
                                                placeholder="'ex. 311'"
                                                v-model="cardCvv"
                                                size='4'
                                                type='text'
                                        >
                                    </div>
                                    <div class='col-xs-4 form-group expiration required'>
                                        <label class='control-label'>Exp. month</label>
                                        <input
                                            class='form-control'
                                            placeholder="'YYYY'"
                                            v-model="expMonth">
                                    </div>
                                    <div class='col-xs-4 form-group expiration required'>
                                        <label class='control-label'> Exp. year</label>
                                        <input class='form-control'
                                               placeholder="'MM'"
                                               v-model="expYear"
                                               type='text'
                                        >
                                        <input class='form-control card-expiry-year' placeholder='YYYY' size='4' type='hidden' name="amount" value="300">
                                    </div>
                                </div>
                                <validation-errors :errors="validationErrors" v-if="validationErrors"></validation-errors>
                                <div class="form-group">
                                    <div class="col-sm-5">
                                        <label class='control-label'> Amount (USD)</label>
                                        <input class='form-control'
                                               placeholder="'Amount'"
                                               v-model="amount"
                                        >
                                    </div>
                                    <div class="col-sm-3 col-sm-offset-3">
                                        <button type="submit" class="btn btn-success pull-right submit-btn">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <form  method="POST" action="/payment/paymentProcess">
        <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_mPUsTXJ8fpfGvyEtjdCqez1900RGPFeLXW"
            data-amount="0.01"
            data-name="Stripe Demo"
            data-description="Online course about integrating Stripe"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto"
            data-currency="usd">
        </script>
    </form>
</template>

<script>
  export default {
    name: 'STRForm',
  };
</script>

<style scoped>

</style>
