<template>
    <div class="stripe">
    <div class="row">
        <div class="form-row col-md-8">

            <div class="form-group">
            <label for="card-element" class="control-label">
                Credit or debit card
            </label>
            <div ref="card" id="card-element">
                <!-- A Stripe Element will be inserted here. -->
            </div>
            </div>


        </div>



    </div>
        <div class="panel panel-info">
        <h4>Test credentials:</h4>
            <p>Card number: 4242 4242 4242 4242</p>
            <p>Expired at: any future date</p>
            <p>CVV: any 3-digit value</p>
    </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Email</label>
            <div class="col-sm-3">
                <input
                    v-model="email"
                    placeholder="Email"
                    type="email"
                    class="form-control">

            </div>
        </div>
        <br>
        <br>
        <div class="form-group">
            <label class="col-sm-3 control-label">Amount (USD)</label>
            <div class="col-sm-3">
                <input
                    v-model="amount"
                    type="number"
                    class="form-control">
            </div>
        </div>
        <br>
        <br>
        <validation-errors :errors="validationErrors" v-if="validationErrors"></validation-errors>
        <div class="col-md-2">
            <button
                v-on:click="purchase"
                class="btn btn-success form-control pull-right approve-payment"
            >Submit
            </button>
        </div>
        <a
            v-if="receipt"
            class="btn btn-warning"
           target="_blank"
           :href="receipt">
            Receipt
        </a>
    </div>
</template>

<script>
  import {email, required, integer} from 'vuelidate/lib/validators'

  let stripe = Stripe(process.env.MIX_STRIPE_KEY),
    elements = stripe.elements(),
    card = undefined;
  let style = {
    base: {
      color: '#32325d',
      fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
      fontSmoothing: 'antialiased',
      fontSize: '16px',
      '::placeholder': {
        color: '#aab7c4',
      },
    },
    invalid: {
      color: '#fa755a',
      iconColor: '#fa755a',
    },
  };
  export default {
    mounted: function() {
      card = elements.create('card', style);
      card.mount(this.$refs.card);
    },
    data(){
      return {
        email: null,
        amount: 1,
        validationErrors: null,
        receipt: null
      }
    },
    methods: {
      purchase() {
        this.validationErrors = null
        this.validate()
          var self = this;
          stripe.createToken(card).then(function(response) {
            if (response.error) {
              errorToast(response.error, response.error.message);
              return;
            }
            axios.post('/api/payment', {
              stripeToken: response.token,
              email: self.email,
              amount: self.amount
            }).then((response) => {
              if (response.status == 200) {
                self.receipt = response.data.receipt
                card.clear()
                successToast('Successfully payed')
              }
            }).catch((errors) => {
              self.showServerErrors(errors)
            });
          });
      },
    },
    validations: {
        email: {
          email, required
        },
      amount: {
        integer
      },
    }

  };
</script>
<style>
    .StripeElement {
        box-sizing: border-box;

        height: 40px;

        padding: 10px 12px;

        border: 1px solid transparent;
        border-radius: 4px;
        background-color: white;

        box-shadow: 0 1px 3px 0 #e6ebf1;
        -webkit-transition: box-shadow 150ms ease;
        transition: box-shadow 150ms ease;
    }

    .StripeElement--focus {
        box-shadow: 0 1px 3px 0 #cfd7df;
    }

    .StripeElement--invalid {
        border-color: #fa755a;
    }

    .StripeElement--webkit-autofill {
        background-color: #fefde5 !important;
    }

    .approve-payment {
        margin-top: 22px;
    }
    .panel-info{
        width: 30%;
        margin-top: 30px;
        padding: 20px;
    }
    .btn-warning {
        margin-top: 23px;
    }
</style>
