<template>
  <div class="table-agile-info">
    <div class="panel panel-default">
      <!---728x90--->

      <div class="panel-heading">
        Users
      </div>
      <div class="row w3-res-tb">
        <div class="col-sm-5 m-b-xs">
            <SelectComponent
                :options="actions"
                :selected="selectedAction"
                :showBtn="true"
                :btnText="'Apply'"
                @select="actionSelect"
            >
            </SelectComponent>
        </div>

        <div class="col-sm-4">
        </div>
        <div class="col-sm-3">
          <Search @fetchItems="loadUsers" :where="'/api/users'" ref="search"></Search>
        </div>
      </div>
        <TableComponent
            ref="usersTable"
            :method="'/api/users'"
            :tableHeads="tableHeads"
            :tableProps="tableProps"
            @checkedToggle="checkUsers"
            @delete="deleteConfirm"
            @openEditModal="showUserModal"
        ></TableComponent>
        <br>
        <br>
    </div>

      <modals-container
          @confirmed="deleteFromDB"
          @closeModalWindow="closeModal"
      ></modals-container>

  </div>
</template>

<script>
  import Search from '../components/Form/Search'
  import SelectComponent from '../components/Form/Select'
  import TableComponent from '../components/TableComponent'
  import ButtonComponent from '../components/Form/Button'
  import ActionConfirmationAdmin from '../components/ActionConfirmationAdmin'
  import UpdateUser from '../components/UpdateUser';
  export default {
    name: 'Users',
    components: {
      Search,
      TableComponent,
      SelectComponent,
      ButtonComponent,
      ActionConfirmationAdmin,
      UpdateUser
    },
    data(){
      return {
        actions: [
          {name: "Delete", value: "Delete"},
          {name: "Export", value: "Export"}
        ],
        selectedAction: "Bulk action",
        tableHeads: [
          {
            title: 'Check',
          },
          {
              title: 'Id',
              attribute: 'id',
              sortable: true
          },
          {
            title: 'First Name',
            attribute: 'first_name',
            sortable: true
          },
          {
            title: 'Last Name',
            attribute: 'last_name',
            sortable: true
          },
          {
            title: 'Email',
            attribute: 'email',
            sortable: true
          },
          {
            title: 'Date of Birth',
            attribute: 'birth_date',
            sortable: true
          },
          {
            title: 'Actions',
          }
        ],
        tableProps: [
          'id',
          'first_name',
          'last_name',
          'email',
          'birth_date'
        ],
        checkedUsers: []
      }
    },
    methods: {
      checkUsers(users){
        this.checkedUsers = users
      },
      loadUsers(data){
        this.$refs.usersTable.laravelData = data
        this.$refs.usersTable.uncheckAll()
        this.$refs.usersTable.setMetaInfo(data)
      },
      actionSelect(option){
        this.selectedAction = option.value
        if(this.selectedAction === 'Delete'){
          if(this.checkedUsers.length) {
            this.deleteConfirm(this.checkedUsers.join(','))
          } else {
              sweetAlert('warning', "You didn\'t select any users" );
              this.selectedAction = "Bulk action"
            }
        } else if (this.selectedAction === 'Export'){
          this.exportUsers();
        }
      },
      deleteConfirm(id){
        sweetDelete("Are you sure?").then(res => {
          if (res.value) {
            this.$modal.show(ActionConfirmationAdmin, {id: id}, {height: "auto"});
          } else {
            this.selectedAction = "Bulk action"
            this.checkedUsers = []
            this.$refs.usersTable.checkedRows = []
          }})
      },
      deleteFromDB(id){
        return axios.delete('/api/users/'+ id).then(res => {
          this.$refs.usersTable.getResults()
          this.checkedUsers = []
          this.selectedAction = "Bulk action"
          this.closeModal()
          successToast();
        }).catch(errors => {
          errorToast(errors);
        });
      },
      exportUsers() {
        const params = {
          ...this.$route.query, ...{
            search: this.$refs.search.search || null,
          }
        };
        axios({
          url: "/api/users/export",
          method: "POST",
          responseType: "blob",
          params: params
        }).then(response => {
          const url = window.URL.createObjectURL(
            new Blob([response.data])
          );
          const link = document.createElement("a");
          link.href = url;
          link.setAttribute("download", this.$options.name + ".csv");
          document.body.appendChild(link);
          link.click();
        });
      },
      closeModal(){
        this.$modal.hideAll()
        this.checkedUsers = []
        this.selectedAction = "Bulk action"
        this.$refs.usersTable.checkedRows = []
      },
      showUserModal(id){
        axios.get('/api/users/'+id).then((response) => {
          this.$modal.show(UpdateUser, {user: response.data}, {height: "auto"})
        });

        }
      },

  };
</script>

<style scoped>

</style>
