<template>
    <div class="container">
        <Rooms :rooms="rooms" />
        <Video :username="username"/>
        <Logs />
    </div>
</template>

<script>
  import Rooms from '../components/Video/Rooms'
  import Video from '../components/Video/Video'
  import Logs from '../components/Video/Logs'
  import AddRoom from '../components/Video/AddRoom'
  export default {
    name: 'VideoChat',
    components: {
      Rooms,
      Video,
      Logs,
      AddRoom
    },
    data() {
      return {
        username: this.$store.getters.getUser.name,
        rooms: [],
      };
    },
    mounted() {
      axios.get('/api/rooms').then(response => {
        this.rooms = response.data.rooms;
      }).catch(e => errorToast(e));
    },
  };
</script>

<style scoped>
    .box {
        border: 1px solid gray;
    }

    .username {
        margin: 12px auto 7px auto;
        color: wheat;
    }

    .Botton {
        color: #fff;
        background-color: #4d555f;
        border-color: #303840;
        padding: 8px;
        font-weight: bolder;
    }
</style>
