<template>
    <div  id="del-modal-pass">
        <form class="form-horizontal bucket-form">
            <br>
            <text-input
                v-model="password"
                :label="'Password'"
                :type="'password'"
                autocomplete="off"
            ></text-input>
            <div v-if="!valid" class="alert alert-danger">Invalid password</div>
            <div class="text-center">
                    <ButtonComponent
                        :type="'button'"
                        @click.native="checkPassword"
                        :text="'Delete'"
                        :bootstrapClass="'btn-danger'"
                    ></ButtonComponent>
                    <ButtonComponent
                        :type="'button'"
                        @click.native="close"
                        :text="'Cancel'"
                        :bootstrapClass="'btn-warning'"
                    ></ButtonComponent>
            </div>
            <br>
        </form>
 </div>

</template>

<script>

    import ButtonComponent from './Form/Button'
    import TextInput from './Form/TextInput'
  export default {
    name: 'ActionConfirmationAdmin',
    components: {
      ButtonComponent,
      TextInput
    },
    props: {
      id: {
        required: true
      }
    },
    data(){
      return {
        password: null,
        valid: true
      }
    },
    methods: {
      checkPassword(){
        this.valid = true
        axios.post('/api/check-admin-password', {password: this.password}).then(response => {
          if(response.data == true){
            this.$emit('confirmed', this.id);
          } else {
            this.valid = false
          }
        })
      },
      close(){
        this.$emit('closeModalWindow')
      }
    }
  };
</script>

<style scoped>

</style>
