<template>
    <div class="modal-calendar">
        <form class="form-horizontal bucket-form" @submit.prevent="gatherForm">
            <br>
            <text-input v-model="title" :label="'Title'"></text-input>
            <div class="text-center"><small v-if="$v.title.$dirty && !$v.title.required" class="text-danger text-center">Title required</small></div>
            <form-textarea :label="'Description'" v-model="description" :rows="1"></form-textarea>

            <SelectComponent
                :label="'Priority'"
                :options="options"
                :selected="priority"
                @selected="setPriority"
            />
            <div class="form-group">
                <div class="col-lg-offset-3 col-lg-9">
                    <CheckboxInput
                        :label="'Reminder 1 day before'"
                        @toggle="setReminder"
                        :checked="reminder"
                    ></CheckboxInput>
                </div>
            </div>
            <div class="form-group" v-if="!id">
                <div class="col-lg-offset-3 col-lg-9">
                    <CheckboxInput
                        :label="'Repeat event'"
                        @toggle="setPeriodicy"
                    ></CheckboxInput>
                </div>
            </div>
            <div class="row">
            <div class="periodicy" v-if="periodicy.use && !id">
                <div class="col-md-5 col-md-offset-1">
                <text-input :type="'number'"  v-model="periodicy.every" :label="'Every'"></text-input>
                </div>

                <div class="col-md-5 col-md-offset-1">
                    <SelectComponent
                        :selected="periodicy.continue"
                        :label="'During next'"
                        :options="continues"
                        @selected="setContinue"
                    ></SelectComponent>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <SelectComponent
                        :selected="periodicy.period"
                        :label="'Period'"
                        :options="periods"
                        @selected="setPeriod"
                    ></SelectComponent>
                </div>
            </div>
                <validation-errors :errors="validationErrors" v-if="validationErrors"></validation-errors>
                <div class="col-md-5 col-md-offset-4">
                    <ButtonComponent
                        :text="'Save'"
                         :bootstrapClass="'btn-success'"
                    ></ButtonComponent>
                    <ButtonComponent
                        :type="'button'"
                        v-if="id"
                        @click.native="deleteEvent"
                        :text="'Delete'"
                        :bootstrapClass="'btn-danger'"
                    ></ButtonComponent>
                    <ButtonComponent
                        :type="'button'"
                        @click.native="close"
                        :text="'Cancel'"
                        :bootstrapClass="'btn-warning'"
                    ></ButtonComponent>
                </div>
            </div>
            <br>
        </form>
    </div>
</template>
<script>
  import TextInput from './Form/TextInput';
  import FormTextarea from './Form/FormTextarea';
  import SelectComponent from './Form/FormSelect';
  import ButtonComponent from './Form/Button';
  import CheckboxInput from './Form/CheckboxInput';

  import {required} from 'vuelidate/lib/validators'

  export default {
    name: 'EventModal',
    props: {
      event: Object,
    },
    data() {
      return {
        title: '',
        description: '',
        priority: 0,
        id: null,
        options: [
          {name: 'Low', value: 0},
          {name: 'Medium', value: 1},
          {name: 'High', value: 2},
        ],
        periodicy: {
          use: 0,
          every: 1,
          period: 'days',
          continue: 'week',
        },
        periods: [
          {name: 'Day(s)', value: 'days'},
          {name: 'Week(s)', value: 'weeks'},
          {name: 'Month(s)', value: 'months'},
        ],
        continues: [
          {name: 'Week', value: 'week'},
          {name: 'Month', value: 'month'},
          {name: 'Year', value: 'year'},
        ],
        reminder: this.event.reminder | 0,
        validationErrors: null
      };
    },
    validations: {
        title: {
           required
        }
    },
    components: {
      SelectComponent,
      FormTextarea,
      TextInput,
      ButtonComponent,
      CheckboxInput,
    },
    methods: {
      gatherForm() {
        this.validate();
        if (!this.id) {
          this.$emit('addEvent', {
            title: this.title,
            description: this.description,
            priority: this.priority,
            periodicy: this.periodicy,
            reminder: this.reminder
          });
        } else {
          this.$emit('updateEvent', {
            title: this.title,
            description: this.description,
            priority: this.priority,
            id: this.id,
            reminder: this.reminder
          });
        }
      },
      setPriority(val) {
        this.priority = val;
      },
      setPeriod(val) {
        this.periodicy.period = val;
      },
      setContinue(val) {
        this.periodicy.continue = val;
      },
      setPeriodicy(val){
        this.periodicy.use = val
      },
      setReminder(val){
        this.reminder = val
      },
      deleteEvent(){
          this.$emit('deleteOne', this.id)
      },
      close(){
        this.$emit('closeModalWindow')
      }
    },
    mounted() {
      if (this.event.id) {
        this.title = this.event.title;
        this.description = this.event.description;
        this.priority = this.event.priority;
        this.id = this.event.id;
        this.reminder = this.event.reminder;
      }
    },
  };
</script>

<style scoped>
    .modal-calendar {
        border: 4px solid #8b5c7e
    }
</style>
