<template>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th v-for="(header,index) in tableHeads">{{header.title}}<button
                    v-if="header.sortable"
                    class="switcher sortable"
                    v-on:click="sortAction($event, header.attribute)"
                >
                    <img
                        class="asc"
                        src="/images/icon-arrow-down.png"
                        alt=""
                    />
                    <img
                        class="active asc"
                        src="/images/icon-arrow-down-black.png"
                        alt=""
                    />
                    <img
                        class="desc"
                        src="/images/icon-arrow-up.png"
                        alt=""
                    />
                    <img
                        class="active desc"
                        src="/images/icon-arrow-up-black.png"
                        alt=""
                    />
                </button></th>
            </tr>
            </thead>
            <tbody>
            <tr data-expanded="true" v-for="item in laravelData.data" :key="item.id">
                <td><label class="i-checks m-b-none">
                    <input type="checkbox"
                           :value="item.id"
                           @change="addChecked"
                           v-model="checkedRows"
                    >
                </label></td>
                <td v-for="(prop,key) in item" v-if="tableProps.find((el) => el === key)">{{prop}}   </td>
                <td>
                    <i @click="showUpdateModal(item.id)" class="fa fa-pencil text-success text-active"></i>
                    <i @click="deleteItem(item.id)" class="fa fa-times text-danger text"></i>
                </td>
            </tr>
            </tbody>
            <label class="i-checks m-b-none text-muted" style="padding-left: 14px">
                <input type="checkbox"
                       @change="toggleAllChecked"
                       v-model="allChecked"
                >
                Select all
            </label>
        </table>

        <div class="pull-right pagination">
            <Pagination
                :size="'small'"
                :align="'center'"
                :data="laravelData"
                @pagination-change-page="getResults"
            >
            </Pagination>
        </div>
        <div class="col-sm-5 m-b-xs">
            <SelectComponent
                :selected="selected"
                @select="limitSelect"
                :options="paginateLimits"
            ></SelectComponent>
        </div>
        <div class="text-center">
            <small class="text-muted inline m-t-sm m-b-sm">
                showing {{from + '-' + to}} of {{total}} items (per page: {{perPage}})
            </small>
        </div>
        <br>

    </div>


</template>
<script>
  import SelectComponent from './Form/Select';

  export default {
    name: 'TableComponent',
    props: {
      tableHeads: Array,
      tableProps: Array,
      method: null,
    },
    data: function() {
      return {
        laravelData: {},
        paginateLimits: [
          {name: '5', value: '5'},
          {name: '15', value: '15'},
          {name: '50', value: '50'},
        ],
        checkedRows : [],
        perPage: 5,
        selected: 'Per page...',
        page: 1,
        total: 0,
        numPages: 0,
        from: 0,
        to: 0,
        allChecked: false,
        sort: undefined
      };
    },
    mounted() {
      this.getResults();
    },
    methods: {
      getResults(page = this.page) {
        axios.get(this.method, {
          params: {
            page: page,
            per_page: this.perPage,
            sort: this.sort
          },
        }).then(response => {
          this.laravelData = response.data;
          this.page = page;
          this.setMetaInfo(response.data)

          this.uncheckAll()
        });
      },
      limitSelect(option) {
        this.perPage = option.value;
        this.page = 1;
        this.getResults();
        this.selected = 'Per page...'
        this.uncheckAll()
      },
      setMetaInfo(data){
        this.total = data.meta.total;
        this.from = data.meta.from;
        this.to = data.meta.to;
      },
      addChecked(e){
        if(e.target.checked){
          this.checkedRows.push(e.target.value)
        } else {
          var index = this.checkedRows.indexOf(e.target.value);
          if (index !== -1) this.checkedRows.splice(index, 1);
        }
        this.$emit('checkedToggle', this.checkedRows)
      },
      toggleAllChecked(){
        if(this.allChecked){
          this.laravelData.data.forEach((el) => this.checkedRows.push(el.id))
        } else{
          this.checkedRows = []
        }
        this.$emit('checkedToggle', this.checkedRows)
      },
      uncheckAll(){
        this.allChecked = false;
        this.toggleAllChecked()
      },
      sortAction(e, name) {
        let self = e.currentTarget;
        let sign = "";
        let remove = false;

        document.querySelectorAll(".sortable").forEach(element => {
          if (element !== self) {
            element.classList.remove("asc");
            element.classList.remove("desc");
          }
        });

        if (!self.classList.contains("asc")) {
          if (self.classList.contains("desc")) {
            self.classList.remove("desc");

            remove = true;
          } else {
            self.classList.add("asc");
          }
        } else {
          self.classList.remove("asc");
          self.classList.add("desc");
          sign = "-";
        }

        if (!remove) {
            this.sort = sign + name
            this.getResults()
        } else {
         this.sort = undefined
        }
      },

      showUpdateModal(id){
        this.$emit('openEditModal', id)
      },
      deleteItem(id){

        this.$emit('delete', id);

      }
    },
    components: {
      SelectComponent,
    },
  };
</script>
<style lang="scss">
    .active > .page-link {
        background-color: mediumpurple !important;
        border: none;
    }
    .switcher {
        background-color: transparent;
        border: none;
        box-shadow: none;
        white-space: nowrap;
        cursor: pointer;

        .active {
            display: none;
        }

        &.asc {
            .asc:not(.active) {
                display: none;
            }

            .asc.active {
                display: inline-block;
            }
        }

        &.desc {
            .desc:not(.active) {
                display: none;
            }

            .desc.active {
                display: inline-block;
            }
        }

    }
</style>

