<template>
    <div class="row">
        <div v-if="!this.user" class="col-md-4">
            <profile-image
                @acceptFile="setFile"
                :avatar="profile.avatar_path"
                ref="image"
            ></profile-image>
            <br>
            <br>
        </div>
        <div :class="{'col-md-12' : this.user, 'col-md-8': !this.user }">
            <form class="form-horizontal bucket-form" @submit.prevent="saveProfile">
                <br>
                <text-input :type="'email'"
                            :label="'Email'"
                            :value="profile.email"
                            @input="profile.email = $event"
                ></text-input>

                <text-input :type="'text'"
                            :label="'First Name'"
                            :value="profile.first_name"
                            @input="profile.first_name = $event"
                ></text-input>

                <text-input :type="'text'"
                            :label="'Last Name'"
                            :value="profile.last_name"
                            @input="profile.last_name = $event"
                ></text-input>


                <div class="form-group">
                    <label class="col-sm-3 control-label">Date of birth</label>
                    <div class="col-sm-6">
                        <datepicker
                            input-class="form-control"
                            :label="'Date of birth'"
                            v-model="profile.birth_date"
                        ></datepicker>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Phone</label>
                    <div class="col-sm-6">
                        <VuePhoneNumberInput ref="phone" v-model="profile.phone"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Country</label>
                    <div class="col-sm-6">
                        <country-select
                            :country="profile.country"
                            v-model="profile.country"
                            class="form-control"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">City</label>
                    <div class="col-sm-6">
                        <region-select
                            :country="profile.country"
                            v-model="profile.city"
                            :region="profile.city"
                            class="form-control"
                        ></region-select>
                    </div>
                </div>
                <text-input :type="'text'"
                            :label="'Street'"
                            :value="profile.street"
                            @input="profile.street = $event"
                ></text-input>
                <form-textarea :rows="8"
                               :value="profile.about"
                               :label="'About'"
                               @input="profile.about = $event"
                ></form-textarea>
                <validation-errors :errors="validationErrors" v-if="validationErrors"></validation-errors>
                <div class="form-group">
                    <div class="col-sm-6 col-sm-offset-3">
                        <button type="submit" class="btn btn-success pull-right">Save changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
  import TextInput from '../components/Form/TextInput';
  import FormTextarea from '../components/Form/FormTextarea';
  import ProfileImage from '../components/Form/ProfileImage';
  import VuePhoneNumberInput from 'vue-phone-number-input';
  import Datepicker from 'vuejs-datepicker';
  import 'vue-phone-number-input/dist/vue-phone-number-input.css';
  import moment from 'moment';
  import {email, required, minLength, alphaNum, maxLength, numeric} from 'vuelidate/lib/validators'

  export default {
    name: 'UpdateUser',
    watch: {
      user(){
        console.log(this.user)
      }
    },
    props: {
      user: Object
    },
    data() {
      return {
        profile: {
          id: null,
          first_name: '',
          last_name: '',
          email: '',
          phone: '',
          country: '',
          city: '',
          street: '',
          about: '',
          birth_date: '',
          avatar_path: '',
          avatar: '',
        },
        selectedFile: null,
        validationErrors: null
      };
    },
    components: {
      VuePhoneNumberInput,
      TextInput,
      ProfileImage,
      FormTextarea,
      Datepicker
    },
    validations: {
      profile: {
        email: {
          email, required
        },
        first_name: {
          required, minLength: minLength(6)
        },
        last_name: {
          required, minLength: minLength(6)
        },
        phone: {
          numeric
        },
        country: {
          maxLength: maxLength(2)
        },
        city: {
          maxLength: maxLength(3)
        },
        street: {
          alphaNum
        },
        about: {
          alphaNum
        },
        birth_date: {
          alphaNum
        }
      }
    },
    methods: {
      saveProfile() {
        this.validate();
        const fd  = new FormData();
        Object.keys(this.profile).forEach(name => {
          if(name === 'avatar'){
            if(this.selectedFile){
              fd.append('avatar', this.selectedFile);
            }
          } else if(name === 'birth_date' && this.profile[name] !== null){
            fd.append(name, moment(this.profile[name]).format('yyyy-MM-DD') || null);
          } else {
            fd.append(name, this.profile[name] || '');
          }
        });

        if(this.user){
          axios.put('/api/users/'+ this.profile.id, this.profile).then(response => {
            this.successAfterSave()
          }).catch((errors) => {
            this.showServerErrors(errors)
          })
        } else {
          this.$store.dispatch('updateProfile', fd).then((response) => {
           this.successAfterSave()
          }).catch((errors) => {
            this.showServerErrors(errors)
          })
        }
      },
      setFile(file){
        this.selectedFile = file;
      },
      successAfterSave(){
        this.$emit('closeModalWindow');
        this.selectedFile = null;
        this.$refs.image ? this.$refs.image.clearBtnFromName() : '';
        this.validationErrors = null
        successToast()
      }
    },
    mounted() {
      if(this.user){
        Object.assign(this.profile, this.user)

      } else {
        if(!this.$store.getters.getProfile.id){
          this.$store.dispatch('getProfile');
        }
        this.profile = this.$store.getters.getProfile;
      }
    },
  };
</script>

<style scoped>

</style>
