<template>
    <div class="row add-room">
        <form  @submit.prevent="createNewRoom(room_name)">
            <div class="form-group">
                <input type="text" class="form-control pull-right" v-model="room_name" >
            </div>
            <br>
            <br>
            <button type="submit" class="btn btn-warning  pull-right">Create Room</button>
        </form>
    </div>
</template>

<script>
  import { EventBus } from '../../events'

  export default {
    name: "AddRoom",
    data() {
      return {
        room_name: "",
      }
    },
    methods: {
      createNewRoom(name) {
        if(!name) {
          sweetAlert('Name can not be blank');
          return
        }

        this.room_name = '';

        axios.post('api/room/create', {roomName: name}).then(response => {
          EventBus.$emit('new_room', name);
        }).catch(e => errorToast(e))

      }
    }
  }
</script>

<style>
    .add-room {
        margin: 0;
    }
</style>
