<template>
    <div class="col-md-3 rooms">
        <div class="room" v-for="(room, index) in rooms" v-bind:key="index" @click="showRoom(room)">
            {{room}}
        </div>
        <AddRoom /> <!-- Imported AddRoom component -->
    </div>
</template>

<script>
  import { EventBus } from '../../events'
  import AddRoom from './AddRoom'

  export default {
    name: "Rooms", // Name of the component
    props: [ 'rooms'],
    data() {
      return {
        loading: false, // indicate when tracks in a room is being loaded
      }
    },
    computed: {
      roomCount:{
        get(){
          return this.rooms.length
        },
        set(val){

        }
      }
    },
    components: {
      AddRoom // imported AddRoom component
    },
    created() {
      EventBus.$on('new_room', (data) => {
        this.roomCount++;
        this.rooms.push(data);
      });
    },
    methods: {
      showRoom(room) {
        EventBus.$emit('show_room', room);
      }
    }

  }
</script>

<style scoped> /* scoped attribute is used here so the styling applies to this component alone */
.rooms > .room {
    border: 1px solid rgb(124, 129, 124);
    padding: 13px;
    margin: 3px 0px;
    color: ghostwhite;
}

.rooms {
    cursor: pointer;
}
</style>
