<template>
  <aside>
    <div id="sidebar" class="nav-collapse" :class="{'hide-left-bar' : !showMenu}">
      <!-- sidebar menu start-->
      <div class="leftside-navigation">
        <ul class="sidebar-menu" id="nav-accordion">
          <MenuItem
            v-for="(item, index) in menu"
            :key="index"
            :title="item.title"
            :icon="item.icon"
            :route="item.route"
            :children="item.children"
          ></MenuItem>
        </ul>
      </div>
      <!-- sidebar menu end-->

    </div>
  </aside>
</template>

<script>
  import MenuItem from '../../components/Menu/MenuItem'
  export default {
    name: 'Aside',
    props: {
      showMenu:{
        type:Boolean,
      }
    },
    data(){
      return {
        menu: [
          {
            title: 'Dashboard',
            icon: 'fa fa-dashboard',
            route: '/'
          },
          {
            title: 'Chat',
            icon: 'fa fa-envelope-o',
            route: '/chat'
          },
          {
            title: 'Examples',
            icon: 'fa fa-users',
            children: [
              {
                title: 'Stripe payment',
                route: '/stripe'
              },
              {
                title: 'LiqPay',
                route: '/liqpay'
              },
              {
                title: 'Video',
                route: '/video'
              },
            ]
          },
          {
            title: 'Calendar',
            icon: 'fa fa-calendar',
            route: '/calendar'
          },
          {
            title: 'Charts',
            icon: 'fa fa-bar-chart-o',
            route: '/charts'
          }
        ]
      }
    },
    components: {
      MenuItem
    }
  };
</script>

<style scoped>

</style>
