<template>
  <header class="header fixed-top clearfix">
    <div class="brand">
      <a class="logo">
        Project
      </a>
      <div class="sidebar-toggle-box" @click="toggleMenu">
        <div class="fa fa-bars"></div>
      </div>
    </div>
    <div class="nav notify-row" id="top_menu">
      <ul class="nav top-menu">

        <NearestEvents></NearestEvents>

        <UnreadMessages></UnreadMessages>

        <Reminders v-if="false"></Reminders>

      </ul>
    </div>
    <div class="top-nav clearfix">
      <ul class="nav pull-right top-menu">

        <GlobalSearch></GlobalSearch>

        <ProfileMenu @handleLogout="$emit('logout')"></ProfileMenu>

      </ul>
    </div>
  </header>
</template>

<script>
  import UnreadMessages from '../../components/Menu/UnreadMessages';
  import NearestEvents from '../../components/Menu/NearestEvents';
  import Reminders from '../../components/Menu/Reminders';
  import GlobalSearch from '../../components/Menu/GlobalSearch';
  import ProfileMenu from '../../components/Menu/ProfileMenu';

  export default {
    name: 'Header',
    components: {
      UnreadMessages,
      NearestEvents,
      Reminders,
      ProfileMenu,
      GlobalSearch
    },
    data() {
      return {
        showMenu: true
      }
    },
    methods: {
      toggleMenu(){
        this.showMenu = !this.showMenu
        this.$emit('togglegMenu', this.showMenu)
      }
    }
  };
</script>

<style scoped>

</style>
