<template>
    <section id="container">
        <Header
            @logout="logout"
            @togglegMenu="setShowMenu"
        ></Header>
        <Aside
            :showMenu="showMenu"
        ></Aside>
        <section
            id="main-content"
            :class="{'merge-left' : !showMenu }"
        >
            <section class="wrapper">
                <slot></slot>
            </section>
        </section>
    </section>
</template>

<script>
  import Header from './Main/Header';
  import Aside from './Main/Aside';

  export default {
    name: 'MainLayout',
    data() {
      return {
        showMenu: true,
      };
    },
    methods: {
      logout() {
        this.$store.dispatch('logout').then(
          response => {
            this.$router.push('/login');
          },
        );
      },
      setShowMenu(menu) {
        this.showMenu = menu;
      },
    },
    components: {
      Header,
      Aside,
    },
    mounted(){
      let stripeScript = document.createElement('script')
      stripeScript.setAttribute('src', 'https://js.stripe.com/v3/')
      document.head.appendChild(stripeScript)
    }
  };
</script>

<style scoped>

</style>
